<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span>
</ng-template>

<div class="card mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h4 class="m-0 font-weight-bold text-primary">Fiche descriptive</h4>
      <a class="nav-link" role="button" >
        <h5>Ajouter aux favoris</h5>
        <i style="margin-left: 40%; color: red" [ngClass]="{'fas': isFavorite, 'far': !isFavorite }" class="fa-heart" (click)="addFavoriteOffers(offer)"></i>
      </a>
  </div>
  <div class="card-body">
    <ul class="list-style9 no-margin">
        <div class="row">
          <div class="col-md-5 col-5">
            <label>Rome-code</label>
          </div>
          <div class="col-md-7 col-7">
            <p>{{offer.matched_rome_code}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-5">
            <label>Intitulé du poste</label>
          </div>
          <div class="col-md-7 col-7">
            <p>{{offer.matched_rome_label}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-5">
            <label>Nom de l'entreprise</label>
          </div>
          <div class="col-md-7 col-7">
            <p>{{offer.name}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-5">
            <label>Adresse</label>
          </div>
          <div class="col-md-7 col-7">
            <p>{{offer.address}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-5">
            <label>Ville</label>
          </div>
          <div class="col-md-7 col-7">
            <p>{{offer.city}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-5">
            <label>En alternance</label>
          </div>
          <div class="col-md-7 col-7">
            <p *ngIf="offer.alternance">Oui</p>
            <p *ngIf="!offer.alternance">Non</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-5">
            <label>Contact</label>
          </div>
          <div class="col-md-7 col-7">
            <p>{{offer.contact_mode}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-5">
            <label>Taille de l'entreprise</label>
          </div>
          <div class="col-md-7 col-7">
            <p>{{offer.headcount_text}}</p>
          </div>
        </div>
      <div class="row">
        <div class="col-md-5 col-5">
          <label>Potentiel d'embauche</label>
        </div>
        <div class="col-md-7 col-7">
          <ngb-rating [(rate)]="offer.stars" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
        </div>
      </div>
        <div class="row">
          <div class="col-md-5 col-5">
            <label>Site web</label>
          </div>
          <div class="col-md-7 col-7">
            <p>{{offer.url}}</p>
          </div>
        </div>
    </ul>
  </div>
</div>
