.star {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  color: #d3d3d3;
}
.full {
  color: #f3b74f;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #f3b74f;
}
