<div style="margin-top: 2%;" class="card mb-4" *ngIf="codesRome && isLoggedIn()">
  <div class="card-body">
    <form class="example-form">
      <div class="row form-group">
        <h4 class="m-0 font-weight-bold text-primary col-xl-4">Choisir un métier</h4>
        <ng-select class="col-xl-8" [items]="codesRome"
                   (change)="onClickOnSelectRomeCode(selectedCodeRome)"
                   bindLabel="metier"
                   name="select"
                   placeholder="choisir un métier"
                   appendTo="body"
                   [searchable]=true
                   [(ngModel)]="selectedCodeRome"></ng-select>

      </div>
    </form>
  </div>
</div>
