<div style="margin-top: -2%" class="container-login">
  <div class="row justify-content-center">
    <div style="margin-left: -53%"  class="col-xl-5 col-lg-12 col-md-9">
      <div id="trans" class="card shadow-sm my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-12">
              <div class="login-form">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Créer un compte</h1>
                </div>

                <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
                      novalidate>
                  <div class="form-group">
                    <label for="username">Pseudo</label>
                    <input type="text" class="form-control" name="username" id="exampleInputFirstName"
                           placeholder="Votre pseudo"
                           [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel">
                    <div class="alert-danger" *ngIf="username.errors && f.submitted">
                      <div *ngIf="username.errors.required">Pseudo est obligatoire</div>
                      <div *ngIf="username.errors.minlength">
                        Le Pseuso doit contenir au moins 3 caractères
                      </div>
                      <div *ngIf="username.errors.maxlength">
                        Le Pseuso doit contenir au maximum 20 caractères
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                           placeholder="Votre email" [(ngModel)]="form.email" required email #email="ngModel">
                    <div class="alert-danger" *ngIf="email.errors && f.submitted">
                      <div *ngIf="email.errors.required">Email is required</div>
                      <div *ngIf="email.errors.email">
                        L'adresse email saisie est invalide
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword"
                           placeholder="Votre mot de passe"
                           [(ngModel)]="form.password" required minlength="6" #password="ngModel">
                    <div class="alert-danger" *ngIf="password.errors && f.submitted">
                      <div *ngIf="password.errors.required">Le mot de passe est obligatoire</div>
                      <div *ngIf="password.errors.minlength">
                        Le mot de passe doit contenir au moins 6 caractères
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
                  </div>
                    <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                      Inscription echouée!<br/>{{ errorMessage }}
                    </div>
                  <hr>
                  <a href="index.html" class="btn btn-google btn-block">
                    <i class="fab fa-google fa-fw"></i> S'inscrire avec votre compte Google
                  </a>
                  <a href="index.html" class="btn btn-facebook btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> S'inscrire avec votre compte Facebook
                  </a>
                </form>
                <hr>
                <div class="text-center">
                  <a class="font-weight-bold small" href="../login">Avez-vous déjà un compte?</a>
                </div>
                <div class="text-center">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
