<footer class="sticky-footer bg-white">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div style="text-align: justify;" class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">GetYourJob</h5>
        <p>GetYourJob s'efforce de faire des candidats une priorité en leur permettant de chercher un emploi et de se renseigner au sujet des employeurs, le tout gratuitement. Chaque jour, nous offrons de nouvelles opportunités à des millions de personnes..</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">À propos</h5>
        <ul class="list-unstyled">
          <li>
            <a style="color: #28ABE3" href="#!">À propos de GetYourJob</a>
          </li>
          <li>
            <a style="color: #28ABE3" href="#!">Mentions légales</a>
          </li>
          <li>
            <a style="color: #28ABE3" href="#!">Espace presse</a>
          </li>
          <li>
            <a style="color: #28ABE3" href="#!">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Liens utiles</h5>
        <ul class="list-unstyled">
          <li>
            <a style="color: #28ABE3" href="#!">Contactez-nous</a>
          </li>
          <li>
            <a style="color: #28ABE3" href="#!">Conditions d'utilisation</a>
          </li>
          <li>
            <a style="color: #28ABE3" href="#!">Données personnelles</a>
          </li>
          <li>
            <a style="color: #28ABE3" href="#!">Accessibilité</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
