<!-- Navigation Start  -->
<nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
  <button *ngIf="!isLoggedIn()" class="btn btn-link">
    <i class="fa fa-bars" [routerLink]="'dashboard'"> Tableau de bord</i>
  </button>
  <ul class="navbar-nav ml-auto">
  <button type="button" class="btn btn-link mb-1" (click)="login()" *ngIf="!isLoggedIn()">Se connecter</button>
  </ul>
  <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn()">
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link" href="#"  role="button" [routerLink]="'favoriteOffers'">
        <i class="fas fa-heart"></i>
        <span class="badge badge-danger badge-counter">{{favoriteOffersCount}}</span>
      </a>
    </li>
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link" href="#" role="button" [routerLink]="'tasks'">
        <i class="fas fa-tasks fa-fw"></i>
        <span class="badge badge-success badge-counter">{{tasksCount}}</span>
      </a>
    </li>
    <div class="topbar-divider d-none d-sm-block"></div>
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" style="cursor: pointer;" (click)="isCollapsed = !isCollapsed" id="userDropdown" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="true">
        <img class="img-profile rounded-circle" src="assets/img/boy.png" style="max-width: 60px">
        <span class="ml-2 d-none d-lg-inline text-white small">{{tokenStorageService.getUser().username}}</span>
      </a>
      <div [ngbCollapse]="isCollapsed" class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="/home">
          <i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i>
          Accueil
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/profile">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Profil
        </a>
        <div class="dropdown-divider"></div>
        <a style="cursor: pointer;" class="dropdown-item" href="/dashboard">
          <i class="fas fa-clipboard-list fa-sm fa-fw mr-2 text-gray-400"></i>
          Tableau de bord
        </a>
        <div class="dropdown-divider"></div>
        <a style="cursor: pointer;" class="dropdown-item" href="/login" (click)="logout()">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Se déconnecter
        </a>
      </div>
    </li>

  </ul>
</nav>


