<div class="list row">
  <form class="example-form" *ngIf="filteredOptions">
      <input type="text"
             placeholder="Sélectionnez votre métier"
             aria-label="String"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)='retrieveOffers($event.option.value)'>
        <mat-option *ngFor="let romeCode of filteredOptions | async" [value]="romeCode">
          {{ romeCode.metier }}
        </mat-option>
      </mat-autocomplete>
  </form>
  <div class="col-md-6">
    <h4>liste des offres d'emploi</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let offer of offers; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveOffer(offer, i)"
      >
        {{ offer.matched_rome_label }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentOffer._id">
      <h4>Offres d'emploi</h4>
      <div>
        <label><strong>Nom de l'entreprise:</strong></label>
        {{ currentOffer.name }}
      </div>
      <div>
        <label><strong>Ville:</strong></label>
        {{ currentOffer.city }}
      </div>
      <div>
        <label><strong>Adresse:</strong></label>
        {{ currentOffer.address }}
      </div>
      <div>
        <label><strong>Candidature:</strong></label>
        {{ currentOffer.contact_mode}}
      </div>
      <div>
        <label><strong>Alternance:</strong></label>
        {{ currentOffer.alternance}}
      </div>
      <div>
        <label><strong>Taille de l'entreprise:</strong></label>
        {{ currentOffer.headcount_text}}
      </div>
      <div>
        <label><strong>Rome_code:</strong></label>
        {{ currentOffer.matched_rome_code}}
      </div>
      <div>
        <label><strong>Métier:</strong></label>
        {{ currentOffer.matched_rome_label}}
      </div>
      <div>
        <label><strong>Numéro de Siret:</strong></label>
        {{ currentOffer.siret}}
      </div>
      <div>
        <label><strong>Site web de l'entreprise:</strong></label>
        {{ currentOffer.url}}
      </div>
    </div>
    <div *ngIf="!currentOffer">
      <br />
      <p>Merci de choisir une offre</p>
    </div>
  </div>
</div>





