<div class="col-xl-12 col-lg-7">
  <div class="card" >
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="min-width: 66%">
      <h4 class="m-0 font-weight-bold text-primary">Carte des offres</h4>
    </div>
    <div>
      <div class="map-container col-xl-12">
          <div id="map" class="col-xl-12 col-lg-7"></div>
      </div>
    </div>

    <div class="card-footer"></div>
  </div>
</div>

