<!--
<ngb-carousel [interval]="2000" style="margin-bottom: 2%; text-align: center">
  <ng-template ngbSlide style="text-align: center;">
    <div class="picsum-img-wrapper">
      <img style="min-width: 85%; max-height: 500px" src="assets/img/image1.jpg" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h1 style="font-weight: bold; margin-left:5%">Votre future emploi est par ici!</h1>
      <h2 style="margin-left:5%">Vos meilleures offres classées pas potentiel d'embauche.</h2>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img style="min-width: 85%; max-height: 500px" src="assets/img/image3.jpg" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h1 style="font-weight: bold; margin-left:5%">Une offre diversifié</h1>
      <h2 style="margin-left:5%">Un large panel d'offres est disponible sur notre site web.</h2>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img style="min-width: 85%; max-height: 500px"  src="assets/img/image2.jpg" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h1 style="font-weight: bold; margin-left:5%; margin-top:-5%">Régions les plus dynamiques en France</h1>
      <h2 style="margin-left:5%; margin-top:-1%; margin-bottom: -2%">L’Auvergne-Rhône-Alpes, île de France et Pays de la Loire.</h2>
    </div>
  </ng-template>
</ngb-carousel>


-->


<div class="hero-slider" style="margin-top: -4%">
  <ngb-carousel [interval]="2000" style="margin-bottom: 2%; text-align: center">
    <ng-template ngbSlide style="text-align: center;">
      <div class="slider-item th-fullpage hero-area" style="background-image: url(assets/slider/slider-bg-1.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Votre futur emploi est par ici!</h1>
              <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Envie de changer de job ou de carrière ? <br>
                Naviguez parmi les 42 394 offres identifiées par GetYourJob.</p>
              <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main" href="/dashboard">Découvrir nos offres</a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="slider-item th-fullpage hero-area" style="background-image: url(assets/slider/slider-bg-2.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1"> Multiples secteurs sont disponibles!</h1>
              <p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">Découvrez toutes les opportunités de carrière <br>
                en parcourant les annonces de plus de 33 secteurs d'activité</p>
              <a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8"  class="btn btn-main" href="/dashboard">Découvrir nos offres</a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<section class="service-2 section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- section title -->
        <div class="title text-center">
          <h2>Trouver un emploi</h2>
          <p style="margin-left: 25%;">Vous êtes prêt à relever de nouveaux défis professionnels ?
            Appuyez-vous sur le réseau GetYourJob et trouvez le poste qui vous correspond,
            en intérim, CDD, CDI ou encore en alternance. Quel que soit votre domaine d'expertise,
            nous vous aidons à trouver un job et avancer dans votre carrière. </p>
          <div class="border"></div>
        </div>
        <!-- /section title -->
      </div>

      <div class="col-md-4 text-center">
        <img src="assets/img/about/member.jpg" class="inline-block" alt="">
      </div>
      <div class="col-md-8">
        <div class="row text-center">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fas fa-map-marked-alt"></i>
              <h4>Les lieux</h4>
              <p>Pour connaître l'état du marché ou trouver un poste près de chez vous, parcourez les offres par métier, département ou ville.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="far fa-building"></i>
              <h4>Les entreprises</h4>
              <p>Aujourd'hui GetYourJob a trouvé plus de 17 341 entreprises qui recrutent. Accédez rapidement aux emplois proposés.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-clock"></i>
              <h4>Gagnez du temps</h4>
              <p>GetYourJob regroupe pour vous toutes les offres du marché, quel que soit le secteur ou le type de poste que vous visez.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="tf-ion-ios-locked-outline"></i>
              <h4>Informations sur le marché du travail</h4>
              <p>Un accès simple et rapide aux informations du marché du travail : pour un métier ou un secteur d'activité ou une région.</p>
            </div>
          </div><!-- END COL -->
        </div>
      </div>
    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- End section -->

<section class="about-2 section" id="about">
  <div class="container">
    <div class="row">

      <!-- section title -->
      <div class="col-12">
        <div class="title text-center">
          <h2>Nos valeurs</h2>
          <p style="margin-left: 25%;">Grâce à la plateforme GetYourJob, profitez à tout moment d’une
            sélection pointue d’entreprises avec un fort potentiel d’embauche.</p>
          <div class="border"></div>
        </div>
      </div>
      <!-- /section title -->

      <div class="col-md-6">
        <img src="assets/img/about/about-2.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-6">
        <ul class="checklist">
          <li>Partage: Nos comportements quotidiens sont guidés par le respect et la confiance mutuels.</li>
          <li>Passion: Nous proposons des emplois aux personnes, leur donnons de l’expérience et l’opportunité de construire leur avenir.
            Tout simplement, ce que nous faisons n’est pas un travail, c’est notre passion.</li>
          <li>Responsabilité: Nous favorisons, avec intégrité et transparence, l’épanouissement professionnel et personnel de chacun, dans un souci de développement durable.</li>
          <li>Clients au centre: Notre expertise consiste à mettre en relation les entreprises-clients et les candidats-talents, en leur offrant des solutions personnalisées.</li>
        </ul>
        <a href="#" class="btn btn-main mt-20">Découvrir nos offres</a>
      </div>
    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- End section -->

<section class="call-to-action section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Vous avez besoin d'aide?</h2>
        <p>Pour toute question vous pouvez également nous contacter par mail, nos conseillers s'engagent à vous répondre dans les meilleurs délais.</p>
        <a href="mailto:vmeryem.karoun@gmail.fr" class="btn btn-main">Contactez-nous</a>
      </div>
    </div> 		<!-- End row -->
  </div>   	<!-- End container -->
</section>   <!-- End section -->

<section  class="counter-wrapper section-sm" >
  <div class="container">
    <div class="row">
      <!-- first count item -->
      <div class="col-md-3 col-sm-6 col-xs-6 text-center " >
        <div class="counters-item">
          <i class="fas fa-briefcase"></i>
          <div>
            <span>{{indicators.numberOfOffers}}</span>
          </div>
          <h3>Nombre d'offres disponibles</h3>
        </div>
      </div>
      <!-- end first count item -->

      <!-- second count item -->
      <div class="col-md-3 col-sm-6 col-xs-6 text-center " >
        <div class="counters-item">
          <i class="far fa-building"></i>
          <div>
            <span>{{indicators.numberOfCompanies}}</span>
          </div>
          <h3>Nombre d'entreprises</h3>
        </div>
      </div>
      <!-- end second count item -->

      <!-- third count item -->
      <div class="col-md-3 col-sm-6 col-xs-6 text-center "  >
        <div class="counters-item">
          <i class="fas fa-city"></i>
          <div>
            <span>{{indicators.numberOfCities}}</span>
          </div>
          <h3>Villes présentes</h3>

        </div>
      </div>
      <!-- end third count item -->

      <!-- fourth count item -->
      <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
        <div class="counters-item kill-border">
          <i class="fas fa-grip-horizontal"></i>
          <div>
            <span>{{indicators.numberOfJobs}}</span>
          </div>
          <h3>Nombre de métiers</h3>
        </div>
      </div>
      <!-- end fourth count item -->
    </div> 		<!-- end row -->
  </div>   	<!-- end container -->
</section>   <!-- end section -->
