<section style="margin-top: -2%;" class="single-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Tableau de bord</h2>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid" id="container-wrapper">
  <div class="row">
    <div class="col-12 mb-4">
      <app-search-offers (selectRomeCode)="retrieveOffers($event)"></app-search-offers>
    </div>
  </div>
  <app-indicators></app-indicators>

  <div class="row" *ngIf="this.offers">
    <div class="col-6 mb-4">
      <app-map [offers]="offers"></app-map>
    </div>

    <div class="col-6 mb-4">
      <app-offer-list [offers]="offers"></app-offer-list>
    </div>
  </div>

  <!-- chart -->
  <div class="row">
    <div class="col-6 mb-4" *ngIf="offersByCompany">
      <app-bar-chart [data]="offersByCompany"></app-bar-chart>
    </div>
    <div class="col-6 mb-4" *ngIf="offersByCity">
      <app-pie-chart [data]="offersByCity"></app-pie-chart>
    </div>
  </div>
  <!-- Modal Logout -->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to logout?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
          <a routerLink="login" class="btn btn-primary">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>

