<div class="row mb-3" *ngIf="indicators">
  <!-- Nombre d'offres -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Nombre d'offres disponibles</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{indicators.numberOfOffers}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-briefcase fa-2x text-primary"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Nombre d'entreprises -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Nombre d'entreprises</div>
            <div class="h5 mb-0 fontx-weight-bold text-gray-800" style="font-weight: bold">{{indicators.numberOfCompanies}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-building fa-2x text-success"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- New User Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Villes présentes</div>
            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{indicators.numberOfCities}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-city fa-2x text-info"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Nombre de métiers</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{indicators.numberOfJobs}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-grip-horizontal fa-2x text-warning"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
