<section style="margin-top: -2%;" class="single-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Liste de tâches</h2>
      </div>
    </div>
  </div>
</section>

<!-- Editable table -->
<div class="card">
  <div style="margin-bottom: 15%" class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="addTask()">
          <mdb-icon style="margin-top: -90%" fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead class="thead-light">
        <tr>
          <th class="text-center">Titre</th>
          <th class="text-center">Description</th>
          <th class="text-center">Statut</th>
          <th class="text-center"></th>
        </tr>
        </thead>
        <tr *ngFor="let task of tasks; let id = index">
          <td>
            <span contenteditable="true" (blur)="updateTask(id, 'title', $event)">{{task.title}}</span>
          </td>
          <td>
            <span contenteditable="true" (blur)="updateTask(id, 'description', $event)">{{task.description}}</span>
          </td>
          <td>
            <input contenteditable="true" (click)="updateTaskTodo(id, 'status', $event)"
                   type="checkbox" [checked]="task.status === StatusEnum.DONE">
          </td>
          <td>
            <span class="table-remove">
              <button type="button" size="sm" class="btn btn-sm btn-danger my-0"
                      (click)="deleteTask(id)">Supprimer</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
