<div style="margin-top: -2%" class="container-login">
  <div class="row justify-content-center">
    <div style="margin-left: -53%"  class="col-xl-5 col-lg-12 col-md-9">
      <div id="trans" class="card shadow-sm my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-12">
              <div class="login-form">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Se connecter</h1>
                </div>
                <form class="user" *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="form-group">
                    <input type="text" class="form-control" name="username" id="exampleInputPseudo" aria-describedby="emailHelp"
                           placeholder="Votre pseudo" [(ngModel)]="form.username" required #username="ngModel">
                    <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
                      Le pseudo est obligatoire!
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword" placeholder="Mot de Passe"
                           [(ngModel)]="form.password" name="password" required minlength="6" #password="ngModel">
                    <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                      <div *ngIf="password.errors.required">Password is required</div>
                      <div *ngIf="password.errors.minlength">
                        Le mot de passe doit contenir au moins 6 caractères
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small" style="line-height: 1.5rem;">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Se souvenir de moi</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Connexion</button>
                  </div>
                  <div class="form-group">
                    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                       {{ errorMessage }}
                    </div>
                  </div>
                  <hr>
                  <a href="index.html" class="btn btn-google btn-block">
                    <i class="fab fa-google fa-fw"></i> Se connecter avec votre compte Google
                  </a>
                  <a href="index.html" class="btn btn-facebook btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Se connecter avec votre compte Facebook
                  </a>
                </form>
                <hr>
                <div class="text-center">
                  <a class="font-weight-bold small" href="../register">Créer un compte!</a>
                </div>
                <div class="text-center">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
