<section style="margin-top: -2%;" class="single-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Informations personnelles</h2>
      </div>
    </div>
  </div>
</section>
<div class="card mb-4" *ngIf="profileFormGroup">
  <div style="margin-left: 10%" class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
  </div>
  <div style="margin-left: 10%; text-align: justify" class="card-body">
    <form [formGroup]="profileFormGroup" (ngSubmit)="upDateProfile();">
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">Nom</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" formControlName="lastName">
        </div>
        <label class="col-sm-1 col-form-label">Prénom</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" formControlName="firstName">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">Pseudo</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" formControlName="username">
        </div>
        <label for="inputEmail3" class="col-sm-1 col-form-label">Email</label>
        <div class="col-sm-4">
          <input type="email" class="form-control" id="inputEmail3" formControlName="email">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-1 col-form-label">Password</label>
        <div class="col-sm-4">
          <input type="password" class="form-control" id="inputPassword3" formControlName="password">
        </div>
        <label class="col-sm-1 col-form-label">Téléphone</label>
        <div class="col-sm-4">
          <input type="phone" class="form-control" formControlName="tel">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label">Adresse</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" formControlName="address">
        </div>
      </div>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-sm-1 col-form-label pt-0">Sexe</legend>
          <div class="col-sm-4">
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio1" value="FEMALE" name="customRadio" class="custom-control-input" formControlName="gender">
              <label class="custom-control-label" for="customRadio1">Femme</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio2" value="MALE" name="customRadio" class="custom-control-input" formControlName="gender">
              <label class="custom-control-label" for="customRadio2">Homme</label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-group row">
        <div class="col-sm-10">
          <input type="submit" value="Modifier" class="btn btn-primary"/>
            <button style="max-width: 10%; margin-left: 1%" (click)="deleteUserProfile()" class="btn btn-danger">Supprimer</button>
          </div>
      </div>
    </form>
  </div>
</div>
