<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="m-0 font-weight-bold text-primary">Nombre d'offres par ville</h4>
  </div>
  <div class="chart-pie">
    <canvas baseChart height="90px" width="230px"
            [datasets]="pieChartData"
            [labels]="pieChartLabels"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend"
            [chartType]="pieChartType">
    </canvas>
  </div>
</div>




