<section style="margin-top: -2%;" class="single-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Liste de vos offres favorites</h2>
      </div>
    </div>
  </div>
</section>

<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span>
</ng-template>

<div class="card">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
  </div>
  <div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
      <tr>
        <th>Nom de l'entreprise</th>
        <th>Adresse</th>
        <th>Ville</th>
        <th>Potentiel d'embauche</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let offer of favoriteOffers | paginate: { itemsPerPage: 4, currentPage: p }; let i = index">
        <td><a href="{{offer.url}}">{{offer.name}}</a></td>
        <td>{{offer.address}}</td>
        <td>{{offer.city}}</td>
        <td>
          <ngb-rating [(rate)]="offer.stars" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
        </td>
        <td>
          <div class="list row">
            <button style="min-width: 55%" (click)="openDialog(offer)" class="btn btn-sm btn-primary ml-1">Détails
            </button>
            <button style="min-width: 55%" class="btn btn-sm btn-danger mt-1 ml-1"
                    (click)="deleteFavoriteOffers(offer)">Supprimer
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="p = $event"
                         previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
  </div>

  <div class="card-footer"></div>
</div>
