<div class="card" style="min-height: 100%" *ngIf="offers">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h4 class="m-0 font-weight-bold text-primary">Liste des offres d'emploi</h4>
  </div>
  <div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
      <tr>
        <th>Nom de l'entreprise</th>
        <th>Adresse</th>
        <th>Ville</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let offer of offers | paginate: { itemsPerPage: 4, currentPage: p }; let i = index">
        <td><a href="{{offer.url}}">{{offer.name}}</a></td>
        <td>{{offer.address}}</td>
        <td>{{offer.city}}</td>
        <td>
          <button (click)="openDialog(offer)" class="btn btn-sm btn-primary">Détails</button>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"
                         previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
  </div>
  <div class="card-footer"></div>
</div>
